p{
        font-family: Roboto, Arial;
        margin-bottom: 0;
        margin-top: 0;
      }

      .video-preview{
        margin-bottom: 10px;
        cursor: pointer;
      }

      .video-thumbnail{
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;
      }
      .thumbnail{
       width: 200px; 
      }

      .video-info{
        display: inline-block;
        vertical-align: top;
      }
      .video-title{
        font-weight: bold;
        width: 250px;
        line-height: 25px;
        margin-bottom: 5px;
      }
      .video-author,
      .video-stats{
        font-size: 14p;
        color: rgb(96,96,96);
      }
      .video-author{
        margin-bottom: 5px;
      }