      p{
        font-family: Roboto, Arial;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 5px;
        font-size: 18px;
      }
      .profile-preview{
        display: inline-block;
        width: fit-content;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
        vertical-align: top;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .profile-image{
        margin-bottom: 2px;
      }
      .profile-picture{
        width:200px;
        height: 200px;
        object-position: contain;
      }

      .profile-name{
        font-weight: bold;
      }
      .mutual-icon{
        display: inline-block;
      }
      .mutual-picture{
        width: 25px;
        height: 25px;
        border-radius: 100px;
        vertical-align: middle;
        margin-left: 5px;
        margin-bottom: 8px;
      }
      .mutual-friend{
        color: rgb(96,96,96);
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
      }
      button{
        background-color: rgb(67, 67, 255);
        color: white;
        border: none;
        font-size: 14px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 3px;
        margin-left: 5px;
        margin-bottom: 8px;
        cursor: pointer;
      }