 p{
        font-family: Verdana;
        margin-top: 0px;
        margin-bottom: 0px;
        color: black;
      }
      .head{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 3px;
      }
      .sub{
        color: gray;
        margin-bottom: 20px;
      }
      .desc{
        width: 300px;
        margin-bottom: 20px;
      }
      .get-started{
        width: 100px;
        background-color: green;
        color: white;
        border-radius: 5px;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        cursor: pointer;
      }
      .get-started:hover{
        opacity:0.6;
      }