p{
        font-family: Arial;
        margin-top: 0px;
        margin-bottom: 0px;
      }
      .amt{
        font-size: 25px;
        margin-bottom: 10px;
      }
      .currency{
        font-size: 15px;
        color: gray;
      }
      .gain{
        color: green;
        margin-bottom: 10px;
      }
      .change{
        color: gray;
        margin-bottom: 10px;
      }
      .percent{
        color: red;
      }