      p{
        font-family: Montserrat;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;        
      }
      .model{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 15px;
      }
      .decor{
        text-decoration: underline;
      }