.subscribe-button{
    background-color: rgb(204, 0, 0);
    color: white;
    border: none;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
    vertical-align: top;
  }            

  .subscribe-button:hover{
    opacity: 0.6;
  }
 
  .subscribe-button:active{
    opacity: .4;
  }

  .join-button{
    background-color: rgb(255, 255, 255);
    border-color: rgb(6, 95, 212);
    border-style: solid;
    border-width: 1px;
    color: rgb(6, 95, 212);
    border-radius: 2px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 8px;
    transition: background-color 0.15s,
      color 1s;
  }            

  .join-button:hover{
    background-color: rgb(6, 95, 212);
    color: white;
  }

  .join-button:active{
    opacity: 0.5;
  }

  .tweet-button{
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15;
    cursor: pointer; 
    margin-left: 8px;
    transition: box-shadow 0.15s;
  }

  .tweet-button:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  }

  .tweet-button:active{
    opacity: 0.6;
  }