body{
  height: 3000px;
}

.profile-bar{
  position: fixed;
  display: flex;
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 1px 0px 10px rgb(0,0,0,0.15);
  padding-bottom: 10px;
}

p{
  font-family:arial;
  font-weight: bold;
  font-size: 14px;
}

.profile-pic-row{
  display: flex;
  width: 100px;
  justify-content: right;
  align-items: center;
}
.profile-pic{
  height: 50px;
  border-radius: 25px;
  object-fit: contain;
  vertical-align: center;
}

.profile-name-row{
  display: flex;
  flex: 1;
  align-items: center;
}

.add-message-row{
  display: flex;
  width: 250px;
  vertical-align: middle;
  justify-content: center;
  position: fixed;
  right: 0;
}

.add-friend-button{
  font-weight: bold;
  background-color: rgb(97, 97, 247);
  color: white;
  border: none;
  border-radius: 3px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 7px;
  padding-top: 7px;
  cursor: pointer;
  margin-right: 10px;
  transition: opacity .15s;
}
.add-friend-button:hover{
  opacity: .7;
}

.message-button{
  background-color: rgb(210, 210, 210);
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 7px;
  padding-top: 7px;
  cursor: pointer;
  margin-right: 10px;
  transition: opacity .15s;
}
.message-button:hover{
  opacity: .7;
}