img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        object-position: center;
        border-width: 2px;
        border-color: red;
        border-style: solid;
      }