img{
        width: 300px;
        height: 300px;
        object-fit: cover;
        object-position: center;
        border-width: 2px;
        border-color: red;
        border-style: solid;
      }