.text-button{
        font-size: 16px;
        border-radius: 5px;
        border-width: 1px;
        border-color: gray;
        border-style: solid;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        padding-top: 10px;
      }