input{
        font-size: 16px;
        border: none;
        border-radius: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        padding-top: 10px;
        width: 400px;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
      }