      p{
        font-family: arial;
        font-size: 12px;
        color: gray;
        margin-top: 0px;
        margin-bottom: 0px;
      }
      .email{
        margin-bottom: 5px;
      }
      input{
        width: 295px;
        font-size: 18px;
        margin-bottom: 15px;
      }
      .note{
        margin-bottom: 20px;
      }
      button{
        background-color: rgb(60, 60, 255);
        color: white;
        border: none;
        border-radius: 20px;
        padding-left: 90px;
        padding-right: 90px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: 16px;
        cursor: pointer;
        transition: opacity 0.15s;
      }
      button:hover{
        opacity:0.6;
      }