img{
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 100px;
        vertical-align: middle;
      }
      input{
        margin-left: 1px;
        border: none;
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 15px;
        padding-top: 15px;
        width:300px;
        outline: none;
        vertical-align: middle;
      }
      button{
        margin-left: 1px;
        background-color: rgb(71, 71, 255);
        border: none;
        color: white;
        border-radius: 20px;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 8px;
        padding-top: 8px;
        font-weight: bold;
        font-size: 16px;
        cursor:pointer;
        transition: opacity 0.15s;
      }
      button:hover{
        opacity: 0.8;
      }