p{
        font-family: arial;
        font-size:16px;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 5px;
      }
      .friend-recommendations{
        display: grid;
        grid-template-columns: 200px 200px 200px;
        row-gap: 10px;
        column-gap: 20px;
        align-items: center;
      }
      .profile-preview{
        box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
        width: fit-content;
      }
      .profile-image{
        width:200px;
        height: 200px;
        object-fit: contain;
      }
      .profile-name{
        font-weight: bold;
      }
      .mutual-info{
        display:grid;
        grid-template-columns: 30px 110px;
      }
      .mutual-image{
        width: 25px;
        height: 25px;
        border-radius: 15px;
        object-fit: contain;
        vertical-align: middle;
        margin-left: 5px;
      }
      .mutual-friends{
        font-size: 14px;
      }
      .add-friend-button{
        background-color: rgb(84, 84, 255);
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-top: 10px;
        margin-left: 5px;
        margin-bottom: 5px;
        cursor: pointer;
      }
      .add-friend-button:hover{
        opacity: 0.8;
      }