      .container{
        display:flex;
        flex-direction: row;
      }
      .item-1{
        width:50px;
        background-color: lightblue;
      }
      .item-2{
        flex:1;
        background-color: lightpink;
      }
      .item-3{
        width:75px;
        background-color: lightblue;
      }