.tab{
  background-color: rgb(120, 82, 178);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Arial;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

input{
  height: 20px;
  font-size: 14px;
  width:500px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 100px;
  border: none;
  outline: none;
  margin-left:20px;
  margin-right: 20px;
}

button{
  font-size: 16px;
  background-color: rgb(120, 82, 178);
  border-color:white;
  border-style:solid;
  border-width: 1px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:5px;
  padding-bottom:5px;
  border-radius: 2px;
  cursor: pointer;
}