      .install{
        width: 360px;
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: rgb(40, 40, 40);
      }
      p{
        font-family: arial;
        margin-top: 0px;
        margin-bottom: 0px;
      }
      .head{
        color: white;
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 15px;
      }
      .description{
        color: gray;
      }