.tweet{
        box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
        border-width: 2px;
        border:none;
        border-radius: 8px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 12px;
        padding-right: 12px;
        width: 450px;
      }
      img{
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 100px;
        vertical-align: middle;
      }
      input{
        vertical-align: middle;
        margin-left: 5px;
        width: 300px;
        font-size: 16px;
        outline: none;
        border: none;
      }
      button{
        background-color: rgb(71, 71, 255);
        color: white;
        font-weight: bold;
        font-size: 16px;
        border: none;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 30px;
        cursor: pointer;
        vertical-align: middle;
      }