      .profile{
        width:200px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .profile-pic{
        width: 200px;
        height: 200px;
        object-fit: contain;
        margin-bottom: 8px;
      }
      p{
        font-family: arial;
        font-size: 14px;
        color: black;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
      }
      .name{
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 3px;
        margin-left: 8px;
      }
      .friends{
        color: gray;
        margin-left: 8px;
        margin-bottom: 10px;
      }
      .add-friend-button{
        background-color: rgb(81, 81, 255);
        color: white;
        border: none;
        font-size: 16px;
        border-radius: 3px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 8px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: opacity 0.15s;
      }
      .add-friend-button:hover{
        opacity: 0.8;
      }