      .google-logo{
        text-align: center;
        
      }
      img{
        width: 200px;
      }

      .search-bar{
        text-align: center;
        margin-bottom: 20px;
      }
      input{
        width:450px;
        border: none;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom:10px;
        padding-left: 15px;
        padding-right: 10px;
        border-radius: 100px;
        outline: none;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      }
      
      .buttons{
        text-align: center;
      }
      button{
        border-color: rgb(187, 187, 187);
        color: black;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 7px;
        cursor: pointer;
        transition: border-color 0.15s;
      }
      button:hover{
        border-color: black;
        border-width: 1px;
        border-style: solid;
      }