      img{
        width: 250px;
        display: block;
        margin-left: 500px;
        margin-bottom: 0px;
      }

      input{
        font-size: 16px;
        border: none;
        border-radius: 30px;
        margin-left: 300px;
        padding-left: 20px;
        padding-right: 125px;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 500px;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.25);
        outline: none;
      }