      input{
        font-size: 16px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 5px;
        padding-left: 10px;
        border-radius: 8px;
        border-width: 1px;
        border-style: solid;
        outline: none;
        border-color: lightgray;
      }
      .first-name,.last-name{
        width: 100px;
        margin-bottom: 10px;
      }
      .email{
        display: block;
        width: 220px;
        margin-bottom: 10px;
      }

      button{
        background-color: rgb(62, 62, 255);
        color: white;
        font-weight: bold;
        padding-left: 100px;
        padding-right: 85px;
        padding-bottom: 15px;
        padding-top: 15px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        transition: opacity 0.15s;
      }
      button:hover{
        opacity: .8;
      }