      p{
        font-family: arial;
        font-size: 35px;
        margin-bottom: 20px;
      }
      input{
        display: block;
        margin-bottom: 5px;
        font-size: 14px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 200px;
        color: gray;
        background-color: rgb(245, 245, 245);
        border: none;
        outline: none;
      }
      button{
        margin-top: 25px;
        font-size: 16px;
        border: none;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 20px;
        cursor: pointer;
        transition: opacity 0.15s;
      }
      .req-now{
        color: white;
        background-color: black;
      }
      .sched-later{
        background-color: rgb(245, 245, 245);
        color: black;
      }
      .req-now:hover,.sched-later:hover{
        opacity: .8;
      }