
      .thumbnail{
        width: 100%;
      } 

      .video-preview{
        
      }

      .video-info-grid{
        display: grid;
        grid-template-columns: 50px 1fr;
      }
      .video-title{
        margin-top: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
      }

      .channel-picture{
        
      }
      .video-info{
      }

      .profile-picture{
        width: 40px;
        border-radius: 100px;
      }

      .thumbnail-row{
        margin-bottom:20px;
        position: relative;
      }

      .video-author,
      .video-stats{
        font-size: 12px;
        color: rgb(96, 96, 96);
        margin-top: 5px;
      }

      .video-author{
        margin-bottom: 4px;
      }

      .video-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
        row-gap: 40px;
      }

      .header{
        display: flex;
      }

      .video-time{
        font-family: roboto, arial;
        font-size: 12px;
        font-weight: 500;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        position: absolute;
        bottom:8px;
        right: 5px;
        background-color: black;
        border-radius: 2px;
        color: white;
      }