p{
          font-family: arial;
          margin-top: 0;
          margin-bottom: 0;
        }

        .video-title{
          font-weight: bold;
          font-size: 18px;
          width: 310px;
          line-height: 23px;
          margin-bottom: 5px;
        }

        .video-stats{
          font-size: 14px;
          color: rgb(96, 96, 96);
          margin-bottom: 20px;
        }

        .video-author{
          color: rgb(96, 96, 96);
          font-size: 14px;
          margin-bottom: 20px;
        }

        .video-description{
          color: rgb(96, 96, 96);
          font-size: 14px;
          width:280px;
          line-height: 22px;
          margin-bottom: 100px;
        }

        .apple-text{
          margin-bottom: 50px;
          font-size: 14px;
          background-color: rgb(227, 65, 64);
          color: white;
          text-align: center;
          padding-top: 20px;
          padding-bottom: 20px;
        }

        .shop-now{
          cursor: pointer;
        }
        .shop-now:hover{
          text-decoration: underline;
        }

        .span-example{
          color: red;
          margin-left: 18px;
        }
        .span-example:hover{
          text-decoration: underline;
        }