.flexbox{
  display: flex;
  flex-direction: row;
}
.element-1{
  display: flex;
  justify-content: center;
  background-color: lightpink;
  width: 100px;
}
.item-1{
  color:white;
  background-color: black;
}
.element-2{
  background-color:lightblue;
  width:200px;
}