.container{
  display: flex;
  flex-direction: row;
  height: 50px;
}
.element-1{
  width: 100px;
  background-color: lightpink;
}
.element-2{
  width: 200px;
  background-color: lightblue;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row-2{
  background-color: black;
  color: white;
}